{{! send email about expired product }}
<section>
  <p>
    <h1>Hi {{sellerName}},</h1>
    <h2>Your product {{name}} is expired</h2>
    <p>This is to notify you that your product
      {{name}}
      with id
      {{id}}
      is expired
    </p>
    <p>
      Currently you have
      {{quantity}}
      units of
      {{name}}
      in stock
    </p>
  </p>
  <p>
    <h3>Please update your stock levels.</h3>
  </p>
  <p>
    <h3>Thanks, Cypher</h3>
  </p>
</section>